.rating {
    display: inline-flex;
    unicode-bidi: bidi-override;
    direction: rtl;
}

.rating > input {
    display: none;
}

.rating > input + label {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: 0;
    text-indent: 9999px;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
}

.rating > input:disabled + label {
    cursor: auto;
}

.rating > input + label:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    background: url('../../assets/star-outline.svg') no-repeat center center/30px 30px;
    color: #0091FF;
    content: ' ';
    text-indent: -9999px;
    transform: translate(-50%,-50%);
}

.rating > input:checked ~ label:before {
    background: url('../../assets/star.svg') no-repeat center center/30px 30px;
}